{{define "header"}}
<!DOCTYPE html>
<html>
<head>
	<title>{{.Title}}</title>
</head>
<link rel="stylesheet" href="static/style.css">
<body>

<h1>Ticket booker</h1>



</nav>
{{end}}



{{define "footer"}}
</body>
</html>
{{end}}