{{template "header" .}}

<h2>{{.Content}}</h2>

<form>
	Username:
	<input type="text" name="username" id="input-box-username"><br>
	Password:
	<input type="password" name="password" id="input-box-password"><br>
	<input type="submit" id="submit-button">
</form>

{{template "footer"}}
